apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline-botdefense
data:
  pipeline: |
    input {
      syslog {
        port => 5141
        codec => plain {
          charset => "ISO-8859-1"
        }
      }
    }

    filter {
      grok {
        match => {
          "message" => [
            ",client_ip=\"%{DATA:client_ip}\"",
            ",client_ip_geo_location=\"%{DATA:client_ip_geo_location}\"",
            ",client_port=\"%{DATA:client_port}\"",
            ",client_request_uri=\"%{DATA:client_request_uri}\"",
            ",configuration_date_time=\"%{DATA:configuration_date_time}\"",
            ",context_name=\"%{DATA:context_name}\"",
            ",context_type=\"%{DATA:context_type}\"",
            ",dest_ip=\"%{DATA:dest_ip}\"",
            ",dest_port=\"%{DATA:dest_port}\"",
            ",device_product=\"%{DATA:device_product}\"",
            ",device_vendor=\"%{DATA:device_vendor}\"",
            ",device_version=\"%{DATA:device_version}\"",
            ",errdefs_msgno=\"%{DATA:errdefs_msgno}\"",
            ",http_method=\"%{DATA:http_method}\"",
            ",http_protocol_indication=\"%{DATA:http_protocol_indication}\"",
            ",route_domain=\"%{DATA:route_domain}\"",
            ",timestamp=\"%{DATA:timestamp}\"",
            ",virtual_server_namevirtual_server_name}\"",
            ",device_id=\"%{DATA:device_id}\"",
            ",request_date_time=\"%{DATA:request_date_time}\"",
            ",profile_name=\"%{DATA:profile_name}\"",
            ",support_id=\"%{DATA:support_id}\"",
            ",request_status=\"%{DATA:request_status}\"",
            ",action=\"%{DATA:action}\"",
            ",reason=\"%{DATA:reason}\"",
            ",previous_action=\"%{DATA:previous_action}\"",
            ",previous_support_id=\"%{DATA:previous_support_id}\"",
            ",previous_request_date_time=\"%{DATA:previous_request_date_time}\"",
            ",bot_signature=\"%{DATA:bot_signature}\"",
            ",bot_signature_category=\"%{DATA:bot_signature_category}\"",
            ",bot_name=\"%{DATA:bot_name}\"",
            ",session_id=\"%{DATA:session_id}\"",
            ",class=\"%{DATA:class}\"",
            ",anomaly_categories=\"%{DATA:anomaly_categories}\"",
            ",anomalies=\"%{DATA:anomalies}\"",
            ",additional_bot_signatures=\"%{DATA:additional_bot_signatures}\"",
            ",micro_service_name=\"%{DATA:micro_service_name}\"",
            ",micro_service_type=\"%{DATA:micro_service_type}\"",
            ",micro_service_matched_wildcard_url=\"%{DATA:micro_service_matched_wildcard_url}\"",
            ",configured_mitigation_action=\"%{DATA:configured_mitigation_action}\"",
            ",configured_mitigation_action_reason=\"%{DATA:configured_mitigation_action_reason}\"",
            ",actual_mitigation_action=\"%{DATA:actual_mitigation_action}\"",
            ",actual_mitigation_action_reason=\"%{DATA:actual_mitigation_action_reason}\"",
            ",browser_configured_verification_action=\"%{DATA:browser_configured_verification_action}\"",
            ",browser_actual_verification_action=\"%{DATA:browser_actual_verification_action}\"",
            ",browser_actual_verification_action_reason=\"%{DATA:browser_actual_verification_action_reason}\"",
            ",captcha_status=\"%{DATA:captcha_status}\"",
            ",browser_verification_status=\"%{DATA:browser_verification_status}\"",
            ",device_id_status=\"%{DATA:device_id_status}\"",
            ",device_id_action=\"%{DATA:device_id_action}\"",
            ",previous_initiated_action=\"%{DATA:previous_initiated_action}\"",
            ",previous_initiated_action_status=\"%{DATA:previous_initiated_action_status}\"",
            ",classification_reason=\"%{DATA:classification_reason}\"",
            ",client_type=\"%{DATA:client_type}\"",
            ",application_display_name=\"%{DATA:application_display_name}\"",
            ",application_version=\"%{DATA:application_version}\"",
            ",mobile_in_emulation_mode=\"%{DATA:mobile_in_emulation_mode}\"",
            ",os_name=\"%{DATA:os_name}\"",
            ",jailbroken_or_rooted_device=\"%{DATA:jailbroken_or_rooted_device}\"",
            ",imei=\"%{DATA:imei}\"",
            ",human_behaviour=\"%{DATA:human_behaviour}\"",
            ",http_request=\"%{DATA:http_request}\""            
          ]
        }
        break_on_match => false
      }
      mutate {
        remove_field => [
          "message"
        ]
      }
      geoip {
        source => "client_ip"
        target => "geo"
      }
    }

    output {
      elasticsearch {
        hosts => ["localhost:9200"]
        index => "botdefense-logs-%{+YYY.MM.dd}"
      }
    }

